html,
body {
    margin: 0;
    padding: 0;
    background: #F2F4F7;
    font-family: "Gotham Pro";
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h4 {
    font: 600 32px/36px "Gotham Pro";
}

.flex {
    display: flex;
    margin: 0;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

.flex-stretch {
    justify-content: stretch;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.pull-right {
    text-align: right;
}

.text-center {
    text-align: center
}

.relative {
    position: relative;
}

.only-screen {
    @media (max-width: 1024px) {
        display: none
    }
}

.only-mobile {
    @media (min-width: 1024px) {
        display: none
    }
}

.container {
    width: 1014px;
    margin: auto;

    @media (max-width:1024px) {
        width: auto;
        padding: 10px;
    }
}