.slide-fade-enter-active {
    transition: all 0.2s linear;
    width: 100%;
}

.slide-fade-leave-active {
    transition: all 0.2s linear;
}

.slide-fade-enter {
    opacity: 0;
    width: calc(100% - 10px);
    transform: translateX(10px);
}

.slide-fade-leave-to {
    width: calc(100% - 10px);
    transform: translateX(-10px);
    opacity: 0;
}